global
    log         127.0.0.1   local0
    log         127.0.0.1   local1 notice
    maxconn     4096
    user        haproxy
    group       haproxy
    nbproc      1
    pidfile     /var/run/haproxy.pid

defaults
    log         global
    option      tcplog
    option      dontlognull
    retries     3
    maxconn     4096
    option      redispatch
    timeout     connect 50000ms
    timeout     client  50000ms
    timeout     server  50000ms


listen mariadb-galera-reads
    bind 0.0.0.0:3306
    mode tcp
    balance leastconn
    option mysql-check user haproxy
    server node1 node1:3306 check
    server node2 node2:3306 check
    server node3 node3:3306 check

# HAProxy web ui
listen stats 0.0.0.0:9000
    mode http
    stats enable
    stats uri /
    stats realm HAProxy\ Statistics
    stats auth haproxy:12345
    stats admin if TRUE
EOF
